*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html{
    font-size: 100%;
    height: 100%;
}

body{
    background-color: #111729;
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

#nav-var{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    position: sticky;
    z-index: 10000;
    background-image:linear-gradient(rgba(26, 30, 54, 0.7), rgba(26, 30, 54, 0.7)), url(./../resources/la-chamba-grupo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

.contenedor-navvar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenedor-navvar a img{
    width: 175px;
    height: 150px;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barra li{
    list-style-type: none;
}

.barra li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: medium;
}

.barra li a:hover{
    color: #F2884B;
    transition: 0.3s;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}


.contenido{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 70px;
}


.titulo-banner h1{
    font-size: 3.5rem;
}

.foto-banner{
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    align-items: flex-end;
}

.foto-banner img{
    width: 550px;
    height: 500px;
}

.boton-taller button{
    width: 350px;
    height: 50px;
    background-color: #F27166;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.boton-taller button:hover{
    background-color: #F2884B;
    transition: 0.3s;
}

.boton-sociales{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.boton-sociales span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #F2884B;
    max-width: 100%;
    border-radius: 50%;
}

.boton-sociales span a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.boton-sociales span a img{
    width: 25px;
    height: 25px;
}

.container-prirncipal{
    display: flex;
    flex-direction: column;
}

.agencia-de-coworki{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 30px;
    background-color: #9857F2;
    color: #111729;
}
.agencia-de-coworki .video-yt{
    display: flex;
    flex-direction: column;
}

.video-yt iframe{
    width: 600px;
    height: 350px;
    border-radius: 15px;
}

.info-agencia{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

.talleres-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 50px;
}

.talleres-eventos .cont-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.info-talleres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.info-talleres .card-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 100%;
}

.img-event{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #0D0D0D;
    border-radius: 15px;
}

.img-event a{
    height: 400px;
    text-decoration: none;
}

.img-event a img{
    height: 400px;
    border-radius: 10px;
}

.info-event{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    gap: 10px;
}

.info-event p img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.info-event a{
    text-decoration: none;
    color: white;
}

.event-detalles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.event-btn a{
    text-decoration: none;
    background-color: #F27166;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    border-radius: 7px;
}
.event-btn a:hover{
    color: #ffffff;
    transition: 0.3s;
}

.event-date span img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.linea{
    height: 2px;
    width: 100%;
    background-color: #F26B83;
}