*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html{
    font-size: 100%;
    height: 100%;
}

body{
    background-color: #111729;
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

#nav-var{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    z-index: 10000;
    background-image:linear-gradient(rgba(26, 30, 54, 0.7), rgba(26, 30, 54, 0.7)), url(./../resources/la-chamba-grupo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

.contenedor-navvar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contenedor-navvar a img{
    width: 195px;
    height: 150px;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.barra li{
    list-style-type: none;
}

.barra li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: medium;
}

.barra li a:hover{
    color: #F2884B;
    transition: 0.3s;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}


.contenido{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 70px;
    padding-left: 20px;
}


.titulo-banner h1{
    font-size: 3.5rem;
}

.foto-banner{
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    align-items: flex-end;
}

.foto-banner img{
    width: 550px;
    height: 500px;
}

.boton-taller button{
    width: 350px;
    height: 50px;
    background-color: #F27166;
    border: none;
    border-radius: 7px;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
}

.boton-taller button:hover{
    background-color: #F2884B;
    transition: 0.3s;
}

.boton-sociales{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.boton-sociales span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #F2884B;
    max-width: 100%;
    border-radius: 50%;
}

.boton-sociales span a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.boton-sociales span a img{
    width: 25px;
    height: 25px;
}

.container-prirncipal{
    display: flex;
    flex-direction: column;
}

#agencia-de-coworki{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    gap: 30px;
    background-color: #9857F2;
    color: #111729;
}
#agencia-de-coworki .video-yt{
    display: flex;
    flex-direction: column;
}

.video-yt iframe{
    width: 600px;
    height: 350px;
    border-radius: 15px;
}

.info-agencia{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

#talleres-eventos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 50px;
}

#talleres-eventos .cont-1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.info-talleres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.info-talleres .card-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 100%;
}

.img-event{
    padding-left: 150px;
    padding-right: 150px;
    background-color: #0D0D0D;
    border-radius: 15px;
}

.img-event a{
    height: 400px;
    text-decoration: none;
}

.img-event a img{
    height: 400px;
    border-radius: 10px;
}

.info-event{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    gap: 10px;
}

.info-event p img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.info-event a{
    text-decoration: none;
    color: white;
}

.event-detalles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.event-btn a{
    text-decoration: none;
    background-color: #F27166;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    border-radius: 7px;
}
.event-btn a:hover{
    color: #ffffff;
    transition: 0.3s;
}

.event-date span img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.linea{
    height: 2px;
    width: 100%;
    background-color: #F26B83;
}

.nuestros-talleres{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
    gap: 30px;
}

#comunidad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F26B83;
    padding-top: 110px;
    padding-bottom: 110px;
}

.cont-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-comunidad, .text-wsp{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    gap: 15px;
    text-align: center;
}

.img-comunidad img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

.cont-img-wsp img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
}

.btn-comunidad a, .btn-wsp a{
    text-decoration: none;
    background-color: #111729;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-comunidad, .btn-wsp{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    justify-content: space-around;
    width: 100%;
}

.btn-comunidad a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 170px;
    text-align: center;
}

.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 110px;
    gap: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

#inputName, #inputEmail{
    min-height: 50px;
    border-radius: 10px;
    width: 100%;
}

#mensajeInput{
    min-height: 180px;
    border-radius: 10px;
    width: 100%;
}

#boton-enviar{
    width: 150px;
    height: 50px;
    background-color: #F27166;
    border: none;
    border-radius: 7px;
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
}
#boton-enviar:hover{
    background-color: #F2884B;
    transition: 0.3s;
}

.linea-2{
    height: 2px;
    width: 100%;
    background-color: #F26B83;
}

footer{
    height: auto;
}

.redes-informacion{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
    align-items: flex-start;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.logo-cowor img{
    width: 280px;
    height: 225px;
}

.btn-redes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.btn-redes a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2884B;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn-redes a:hover{
    background-color: #F27166;
    transition: 0.3s;
}

.btn-redes a img{
    width: 30px;
    height: 30px;
}

.enlaces-cont, .contacto-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.enlaces-cont ul, .contacto-cont ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
    gap: 10px;
}

.enlaces-cont ul li, .contacto-cont ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

.enlaces-cont ul li a{
    text-decoration: none;
    color: white;
}

.contacto-cont ul li img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contacto-cont ul li a img{
    width: 130px;
    height: 80px;
}

.text-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    gap: 10px;
}

.icon-instagram, .icon-tiktok, .icon-whatsapp{
    fill: #ffffff;
    width: 18px;
    height: 18px;
    margin-left: 10px;
}